<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_mKqnBJhkOR1rLOnDxEKUdr41BN2Av48</string>
	<key>GCM_SENDER_ID</key>
	<string>363617900262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneyTracking</string>
	<key>PROJECT_ID</key>
	<string>money-tracking-se346</string>
	<key>STORAGE_BUCKET</key>
	<string>money-tracking-se346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363617900262:ios:ac637f255a6848e4020d27</string>
</dict>
</plist>